<div style="position: relative; margin: auto;">
    <!-- show error message -->
    <div id="errormessage" class="mt-1 accordion-collapse collapse">
        <div class="accordion-body border">
            loggin failed, please try later. Thanks you so much
        </div>
    </div>
    <strong class="text-hover" data-bs-toggle="collapse" data-bs-target="#errormessage"
        style="font-size: 20rem; color: #ffffffe2; text-shadow: 0 0 1rem #502b00;"
        onclick="textTyping(document.querySelector(`#errormessage > div`), 5)">401</strong>
    <!-- backhome -->
    <div class="position-absolute w-100">
        <a class="btn border m-1" href="/index"
            style="background: var(--bgr-linear-dark); color: var(--bs-info); right: 0; left: 0; bottom: 0;">
            <img width="32px" src="assets/icon/code.svg">
            &nbsp;<span>back home</span>
        </a>
        <a class="btn border m-1" href="/server?view=security/_signin.htm"
            style="background: var(--bgr-linear-dark); color: var(--bs-info); right: 0; left: 0; bottom: 0;">
            <img width="32px" src="assets/imgIcon/loupe.svg">
            &nbsp;<span>login page</span>
        </a>
    </div>
</div>