<h3 class="text-center text-warning">VIEW LIST CONTROL</h3>
<div class="overflow-auto">
   <div hidden>
      <input type="hidden" ng-model="o.temr">
      <input type="hidden" ng-model="o.temp">
   </div>
   <table class="table text-white bg-dark bg-opacity-25" ng-if="mdata.length">
      <thead>
         <td>No</td>
         <th>username</th>
         <th>email</th>
         <th>fullname</th>
         <th>access</th>
         <th>roles</th>
         <th>platform</th>
         <th>images</th>
      </thead>
      <tbody style="vertical-align: middle;">
         <!-- each fields -->
         <tr ng-repeat="(i,e) in mdata track by e.uid" ng-dblclick="control.read(e)">
            <td class="text-nowrap">
               <button class="text-white btn" style="background: var(--bgr-linear2);" role="button" ng-click="control.read(e)">
                  <img width="32px" src="assets/imgIcon/loupe.png">
               </button>
               <input type="hidden" ng-value="e.uid">
            <td>
               <input class="text-center custom-input" style="width: 10rem;" type="text" ng-model="e.username">
            </td>
            <td>
               <input class="text-center custom-input" type="email" ng-model="e.email">
            </td>
            <td>
               <input class="text-center custom-input" type="text" ng-model="e.fullname">
            </td>
            <!-- access -->
            <td>
               <select class="form-control" ng-model="e.access"
                  style="background: var(--bgr-linear-dark); color: var(--bs-info);">
                  <option ng-repeat="a in ur.accesses" ng-value="a.uaid" ng-bind="a.uaName"
                     style="background: var(--bgr-linear-dark);"></option>
               </select>
            </td>
            <!-- roles -->
            <td>
               <button type="button" class="btn btn-outline-light" data-bs-toggle="popover" target="#roleof{{e.uid}}"
                  style="background: var(--bgr-linear-dark); color: var(--bs-info);">roles
                  ({{e.roles.length}})
               </button>
               <div class="disabled" hidden>
                  <div id="roleof{{e.uid}}" class="border rounded-3 fs-3"
                     style="padding: .5rem; background: var(--bgr-linear-dark);">
                     <div class="form-check" ng-repeat="(i,r) in ur.roles">
                        <input class="form-check-input" type="checkbox" id="{{o.temr=e.uid+'_'+r.urid}}"
                           ng-checked="e.roles.includes(r.urid)" ng-click="toggleChecks(r.urid, e.roles)">
                        <label class="form-check-label text-nowrap" for="{{o.temr}}">
                           <strong>{{r.role}}</strong>
                        </label>
                     </div>
                  </div>
               </div>
            </td>
            <!-- platforms -->
            <td>
               <button type="button" class="btn btn-outline-light" data-bs-toggle="popover"
                  data-bs-trigger="hover focus" target="#platof{{e.uid}}"
                  style="background: var(--bgr-linear-dark); color: var(--bs-info);">platforms
                  ({{e.platforms.length}})
               </button>
               <div class="disabled" hidden>
                  <div id="platof{{e.uid}}" class="border rounded-3 fs-3"
                     style="padding: .5rem; background: var(--bgr-linear-dark);">
                     <div ng-repeat="(i,p) in ur.platforms" ng-if="o.check = e.platforms.includes(p.upid)">
                        <span class="badge bg-warning" ng-bind="p.upName"></span>
                     </div>
                     <div ng-if="!e.platforms.length" class="text-center">
                        <strong>Default Login System</strong>
                     </div>
                  </div>
               </div>
            </td>
            <td>
               <div ng-repeat="img in e.images" ng-bind="img"></div>
            </td>
         </tr>
      </tbody>
   </table>
</div>