<div class="d-flex flex-wrap border-top" style="background-image: var(--bgr-linear-dark);">
    <!-- show chart -->
    <div class="col-xl-9 col-12 overflow-auto border-bottom">
        <canvas id="chartStatistic" style="min-height: 100%;"></canvas>
    </div>

    <!-- side menu bar -->
    <div class="col-xl-3 col-12 border-bottom">
        <p class="p-3">
            <img src="assets/icon/code.svg" alt="courage" width="32px" style="color: #ffffff;" />
            <span class="fw-bolder">CHART STATISTICS</span>
        </p>
        <nav class="navbar flex-column flex-shrink-0 p-3">
            <ul class="mt-3 pt-3 border-top nav gap-1 nav-fill flex-xl-column flex-md-wrap text-md-end"
                style="width: 100%;">
                <!-- Count relational data relationships -->
                <li class="nav-item border-start">
                    <a class="nav-link" href="" ng-click="chart.relationship(filData || mdata)">Data relationships</a>
                </li>

                <!-- Count data over time -->
                <li class="nav-item border-start dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Account register time
                    </a>
                    <ul class="dropdown-menu w-100 text-xl-end text-md-center border"
                        style="background: var(--bgr-linear-dark);">
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.timeRegister(filData || mdata, 'year')">
                                By year
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.timeRegister(filData || mdata, 'quarter')">
                                By quarter
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.timeRegister(filData || mdata, 'month')">
                                By month
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.timeRegister(filData || mdata, 'week')">
                                By week
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.timeRegister(filData || mdata, 'day')">
                                By day
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Count relational data relationships -->
                <li class="nav-item border-start dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Count relational
                    </a>
                    <ul class="dropdown-menu w-100 text-xl-end text-md-center border"
                        style="background: var(--bgr-linear-dark);">
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.sizeOf(ur.accesses, 'uaName')">
                                Access
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.sizeOf(ur.roles, 'role')">
                                Roles
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" href="" ng-click="chart.sizeOf(ur.platforms, 'upName')">
                                Platforms
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>