<div class="mt-5"></div>
<div class="container-xxl text-white">
   <h3>INFO {{e.username}}({{e.uid}})</h3>
   <div class="d-flex flex-wrap">
      <!-- show images -->
      <div id="{{e.username}}" class="p-1 col-12 col-md-4 carousel slide">
         <div class="carousel-inner">
            <!-- each in items -->
            <div class="carousel-item {{i?'':'active'}}" ng-repeat="(i,img) in e.images track by $index">
               <img ng-src="{{getImage(img, 'uploads/account', e.uid)}}" class="fit-img-block"
                  style="aspect-ratio: 5/3; object-fit: contain;" alt="{{img}}">
            </div>
            <!-- default image : show when images is empty -->
            <div class="carousel-item active" ng-if="!e.images.length">
               <img ng-src="{{defaultImg}}" class="fit-img-block" style="aspect-ratio: 5/3;" alt="default image">
               <h3 style="position: absolute; bottom: 0; right: 0;">default image</h3>
            </div>
         </div>
         <!-- thumbnail -->
         <div class="d-flex border overflow-auto scroll-s1" style="width: 100%; z-index: 1000;"
            ng-if="e.images.length>1">
            <div type="button" class="p-1 col-2 col-xl-3 col-md-4 {{i?'':'active'}}" data-bs-target="#{{e.username}}"
               data-bs-slide-to="{{i}}" ng-repeat="(i,img) in e.images track by $index">
               <img ng-src="{{getImage(img, 'uploads/account/'+e.uid)}}" class="fit-img-block" alt="{{img}}"
                  style="aspect-ratio: 2/1; height: auto;">
            </div>
         </div>
         <!-- carousel-control buttons : show when size of images > 0 -->
         <tag ng-if="e.images.length > 1">
            <button class="carousel-control-prev" type="button" data-bs-target="#{{e.username}}" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{e.username}}" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
            </button>
         </tag>
      </div>
      <!-- detail information -->
      <div class="p-1 col-12 col-md-8 text-xl-end text-md-center text-sm-start">
         <h3>show detail <span class="text-warning">{{e.username}}</span></h3>
         <hr>
         <div hidden aria-hidden="true">
            {{e.uid}}
         </div>
         <div class="row">
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">username</label>
               <div class="custom-field" ng-bind="e.username"></div>
            </div>
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">email</label>
               <div class="custom-field" ng-bind="e.email"></div>
            </div>
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">fullname</label>
               <div class="custom-field" ng-bind="e.fullname"></div>
            </div>
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">register time</label>
               <div class="custom-field" ng-bind="e.regTime | date : 'medium'"></div>
            </div>
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">roles</label>
               <div class="custom-field">
                  <span class="m-1 badge bg-gradient bg-warning" ng-repeat="r in e.roles">&nbsp;{{r.role}}&nbsp;</span>
               </div>
            </div>
            <div class="mt-1 col-xl-6 col-sm-12">
               <label class="form-label fw-bold" for="">platforms</label>
               <div class="custom-field">
                  <span class="m-1 badge bg-gradient bg-warning" ng-repeat="r in e.platforms" ng-bind="r.upName"></span>
               </div>
            </div>
         </div>
      </div>
      <!-- show other contents -->
      <ng-include src="'components/_content.htm'" class="d-block mt-1 w-100"></ng-include>
   </div>
</div>