<div id="about" class="d-flex flex-wrap text-white font-monospace border border-start-0 border-end-0" style="font-size: 1.2rem;">
   <h3 class="col-12">ABOUT STUDEV-COURAGE (July 8, 2023)</h3>
   <div class="col-md-4 col-sm-12">
      <button class="m-1 btn btn-outline-info bg-dark bg-opacity-50" style="border-radius: 1.5rem;"
         data-bs-toggle="collapse" data-bs-target="#moreinfo"
         onclick="textTyping(document.querySelector(`#moreinfo > div`))">
         see more info about me
      </button>
      <button class="m-1 btn btn-outline-info bg-dark bg-opacity-50" style="border-radius: 1.5rem;"
         data-bs-toggle="collapse" data-bs-target="#favorite"
         onclick="textTyping(document.querySelector(`#favorite > div`), 15)">
         My favorites
      </button>
      <button class="m-1 btn btn-outline-info bg-dark bg-opacity-50" style="border-radius: 1.5rem;"
         data-bs-toggle="collapse" data-bs-target="#infoContact"
         onclick="textTyping(document.querySelector(`#infoContact > div`), 5)">
         How to reach me
      </button>
   </div>
   <div class="col-md-8 col-12 p-1">
      <p style="padding: 1rem 1.25rem;">
         Hello everyone. My name's <em>Duy Hòa</em>, I took the nickname <code>Courage</code>, I'm a Fresher
         developer.<br>
      </p>
      <!-- more info -->
      <div id="moreinfo" class="mt-1 accordion-collapse collapse">
         <div class="accordion-body border">
            I graduated Feb 2023 at FPoly HCM, major Software application(IT), I want to work in a tech company. I'll be
            a better developer every day.
         </div>
      </div>
      <!-- favorites -->
      <div id="favorite" class="mt-1 accordion-collapse collapse">
         <div class="accordion-body border">
            My favorites're programming, swimming, fishing, listerning to music and currently, I'm interested in
            ExpressJS, web development
         </div>
      </div>
      <!-- contact -->
      <div id="infoContact" class="mt-1 accordion-collapse collapse">
         <div class="accordion-body border">
            Contact me via email: sdhoa1922@gmail.com or phone numbers: (+84) 941536489, thanks you so much.
         </div>
      </div>
   </div>
</div>