<div class="card max-size" style="background: #00000045; color: white;">
   <div class="card-header">
      {{e.username + '('+e.uid+')'}}
   </div>
   <div class="card-body">
      <h5 class="card-title">{{e.fullname}}</h5>
      <div class="ratio border" style="aspect-ratio: 4/3;" ng-dblClick="detail(e)">
         <img class="d-block-dark" style="object-fit: contain;" alt="{{e.images[0]}}"
            ng-src="{{getImage(e.images[0], 'uploads/account', e.uid)}}">
      </div>
      <p class="card-text bg-opacity-25 bg-dark">With supporting text below as a natural lead-in to additional content.</p>
      <div class="text-end">
         <a href="#!detail/{{e.uid}}"  class="btn border-bottom" style="background: var(--bgr-linear-dark); color: var(--bs-warning);">
            <img width="32px" src="assets/imgIcon/loupe.png">&nbsp;detail {{e.uid}}
         </a>
      </div>
   </div>
   <div class="card-footer text-center text-body-secondary">
      {{e.regTime | date: 'EEEE dd-MM-yyyy'}}
   </div>
</div>