<footer class="mt-3 p-2 d-flex flex-wrap border-top c-text-white" style="font-size: 1.5rem;">
   <div class="col-xl-4 col-sm-12">
      <a class="ms-0" href="">
         <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M15.5 9L15.6716 9.17157C17.0049 10.5049 17.6716 11.1716 17.6716 12C17.6716 12.8284 17.0049 13.4951 15.6716 14.8284L15.5 15"
               stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
            <path d="M13.2942 7.17041L12.0001 12L10.706 16.8297" stroke="#ffffff" stroke-width="1.5"
               stroke-linecap="round" />
            <path
               d="M8.49994 9L8.32837 9.17157C6.99504 10.5049 6.32837 11.1716 6.32837 12C6.32837 12.8284 6.99504 13.4951 8.32837 14.8284L8.49994 15"
               stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
            <path
               d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
               stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
         </svg>
         STUDEV CODE
      </a>
   </div>
   <div class="col-xl-4 col-sm-12 text-center">
      <a class="m-auto text-decoration-none" target="_blank" href="https://github.com/studev1922">https://github.com/studev1922</a>
   </div>
   <div class="col-xl-4 col-sm-12 text-end">
      <a href="#">
         <img src="assets/icon/code.svg" alt="courage" width="32px" style="color: #ffffff;" />
      </a>
      <a href="https://github.com/studev1922" target="_blank">
         <img src="assets/icon/github.svg" alt="courage" width="32px" style="color: #ffffff;" />
      </a>
      <a href="https://www.youtube.com/channel/UCzlBNfBsCNFrdcJ3OxyGHsQ" target="_blank">
         <img src="assets/icon/youtube.svg" alt="courage" width="32px" style="color: #ffffff;" />
      </a>
      <a href="https://www.facebook.com/dhoa.1902/" target="_blank">
         <img src="assets/icon/facebook.svg" alt="courage" width="32px" style="color: #ffffff;" />
      </a>
      <a href="mailto:sdhoa1922@gmail.com">
         <img src="assets/icon/email.svg" alt="courage" width="32px" style="color: #ffffff;" />
      </a>
   </div>
   <hr class="col-12 d-block">
   <div class="col-xl-3 col-md-4 col-6">
      <ul>
         <li><a href="#header">home</a></li>
         <li><a href="#carousel">event</a></li>
         <li><a href="#listcontents">content</a></li>
         <li><a href="#about">about</a></li>
         <li><a href="" onclick="location.reload();">back</a></li>
      </ul>
   </div>

   <div class="col-xl-3 col-md-4 col-6">
      <ul>
         <li><a href="" data-bs-toggle="offcanvas" data-bs-target="#setting">setting</a></li>
         <li><a href="#">___</a></li>
         <li><a href="#">___</a></li>
         <li><a href="#">___</a></li>
         <li><a href="">___</a></li>
      </ul>
   </div>

   <div class="col-xl-3 col-md-4 col-6 flex-fill">
      <ul class="text-xl-start text-center">
         <li><a href="">___</a></li>
         <li><a href="">___</a></li>
         <li><a href="">___</a></li>
         <li><a href="">___</a></li>
         <li><a href="">___</a></li>
      </ul>
   </div>

   <div class="col-xl-3 col-12">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22170.03615517033!2d106.65884643874783!3d10.800148881688498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1688837233682!5m2!1sen!2s"
         allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 ratio"
         style="border:0; aspect-ratio: 19/8;"></iframe>
   </div>

   <div class="col-12">
      <p class="text-center"><em>Studev - courage - 2023</em></p>
   </div>
</footer>