<div class="fixed-top col-12 col-md-6 col-xl-4 p-1" style="left: auto; right: 0; top: auto; bottom: 0;"
    ng-if="customize.isAlert">
    <div class="d-flex flex-wrap flex-wrap-reverse gap-1">
        <div class="alert fade show w-100 m-0 border" role="alert" style="padding: 0; background: var(--bgr-linear4); cursor: help;"
            ng-repeat="(i,mes) in messages">
            <!-- data-bs-dismiss="alert" aria-label="Close" -->
            <img src="assets/icon/close-circle.svg" style="position: absolute; right: 0; top: 0;" ng-click="removeMes(mes, i)">
            <h5 class="border-bottom {{mes.htype || 'text-white'}}" ng-bind="mes.heading" style="margin: 0; padding: .25em .5em;"></h5>
            <p class="{{mes.btype || 'text-white'}}" ng-bind="mes.body" style="margin: 0; padding: .25em;"></p>
            <div class="text-end border-bottom {{mes.ftype || 'text-white'}}" style="padding: .25em .5em;">
                <em style="font-size: .9rem;" class="text-end" ng-bind="mes.time | date:'MMM d, y h:mm:ss a'"></em>
            </div>
        </div>
    </div>
</div>