<h2>FILE API CONTROL</h2>
<div class="row">
   <div class="m-auto col-xxl-8 col-md-12">
      <div class="mt-3">
         <label class="form-label"><h3>path api</h3></label>
         <div class="d-flex gap-1">
            <input id="inputpathapi" type="text" class="form-control" value="http://localhost:8080/api/uploads/account">
            <button class="btn btn-outline-info" onclick="readData()">GET</button>
         </div>
      </div>
      <pre class="d-flex bg-dark text-white" id="showresult"></pre>
   </div>
</div>