<div class="w-100">
    <h2 class="text-center text-warning">this home page</h2>

    <!-- show client side rendering -->
    <a href="/index.html" class="btn border-bottom fill-size"
        style="background: var(--bgr-linear-dark); color: var(--bs-info);">
        <img width="32px" src="assets/icon/code.svg">
        &nbsp;<span>view on client</span>
    </a>

    <!-- isn't login -->
    <th:block sec:authorize="isAnonymous()">
        <a href="/server?view=security/_signin.htm" class="btn border-bottom fill-size"
            style="background: var(--bgr-linear-dark); color: var(--bs-info);">
            <img width="32px" src="assets/imgIcon/loupe.png">
            &nbsp;<span>login page</span>
        </a>
    </th:block>
    <!-- is logged -->
    <th:block sec:authorize="isAuthenticated()">
        <a href="/server?view=security/_signout.htm" class="btn border-bottom fill-size"
            style="background: var(--bgr-linear-dark); color: var(--bs-info);">
            <img width="32px" src="assets/imgIcon/close.png">
            &nbsp;<span>sign out</span>
        </a>
        <a href="/principal" target="_blank" class="btn border-bottom fill-size"
            style="background: var(--bgr-linear-dark); color: var(--bs-info);">
            <img width="32px" src="assets/imgIcon/loupe.png">
            &nbsp;<span>show principal</span>
        </a>
        <h3 class="text-warning text-center" sec:authentication="principal.username"></h3>
        <p sec:authentication="principal.authorities"></p>
    </th:block>
</div>