<h3>What do you want to do?</h3>
<div class="d-flex justify-content-center">
    <!-- login -->
    <a type="button" class="btn border fw-bolder fill-size" role="button" data-bs-toggle="modal"
        data-bs-target="#formLogin" style="background: var(--bgr-linear-dark); color: var(--bs-secondary);">
        <img width="32px" src="assets/imgIcon/eraser.png">&nbsp;login
    </a>
    <!-- register -->
    <a type="button" class="btn border fw-bolder fill-size" href="#!/security/register" style="background: var(--bgr-linear-dark); color: var(--bs-secondary);">
        <img width="32px" src="assets/imgIcon/loupe.png">&nbsp;register
    </a>
</div>